{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ChromeAndroid >= 35",
            "FirefoxAndroid >= 38",
            "iOS >= 8",
            "Android >= 4.4",
            "ExplorerMobile >= 11",
            "OperaMobile >= 37",
            "Chrome >= 35",
            "Firefox >= 38",
            "Opera >= 18",
            "Safari >= 8",
            "Explorer >= 11",
            "Edge >= 13"
          ]
        },
        "modules": "cjs",
        "useBuiltIns": "usage",
        "forceAllTransforms": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-syntax-dynamic-import"
  ]
}