@mixin GatewayForProperty($from, $to, $down, $up, $property: font-size) {
  $y1: rem($to)/1rem;
  $y2: rem($from)/1rem;
  $x1: rem($up)/1rem;
  $x2: rem($down)/1rem;
  #{$property}: $to;
  @media (min-width: $down) and  (max-width: $up){
    #{$property}: #{'calc(('($y1 - $y2)' * 100vw + '(($x1 * $y2) - ($x2 * $y1))+rem') / '($x1 - $x2)')'};
  }
  @media (max-width: $page-min-width) {
    #{$property}: $from;
  }
}