.swiper-row__button {
  $swiper-row-icon-size: 34px !default;
  position: absolute;
  top: 50%;
  width: $swiper-row-icon-size;
  height: $swiper-row-icon-size;
  color: $white;
  margin-top: -$grid-gutter-width/2;
  z-index: 2;
  cursor: pointer;
  transition: $transition-base;
  border: none;
  white-space: nowrap;
  text-align: center;
  opacity: 0;
  border-radius: $badge-pill-border-radius;
  .ua-touch &,
  .swiper-row:hover &{
    opacity: 1;
  }
  &.swiper-button-disabled{
    opacity: 0 !important;
    pointer-events: none !important;
  }
  &:after,
  .fi{vertical-align: middle}
  &:after{
    content: '';
    height: 100%;
    width: 1px;
    margin-left: -1px;
  }
  @include plain-hover-focus{
    outline: none;
  }
  &_prev{
    left: 1px;
    @include media-breakpoint-down(xs){
      left: $swiper-row-icon-size;
    }
  }
  &_next{
    right: 1px;
    @include media-breakpoint-down(xs){
      right: $swiper-row-icon-size;
    }
  }
}